body {
  margin: 0;
  display: flex;
  background-color: #D7DAE5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
